In [1]:
print('hello world')

hello world

In [ ]:
# print() -> this is built-in func given by python, 
# prints stream of output

In [2]:
# Variables: These are labels/container to store a value and can used any where when it is called

In [3]:
a=23

In [4]:
a

23

In [5]:
print('The age is', a)

The age is 23

In [6]:
# functionality of print -> end, sep
print('Hello this is first line', end=' ')  # '' -> this is an empty string
print('Hello this is second line')

Hello this is first line Hello this is second line

In [7]:
print('hello', 'world', sep='--')

hello--world

In [8]:
print('This is separator', 'we are learning in python', sep='_')

This is separator_we are learning in python

In [ ]:
# User input -> any information/ data/ value given by user
# user -> the person who is using our code
# input() function is used to take user input.

In [9]:
input()

 python

'python'

In [10]:
day = input()

 python

In [ ]:
# Arithmetic operators +,-,*,/,//,%

In [11]:
number1 = 12
number2 = 23
print(number1 + number2) # adding two numeric values, it is addition 
# + -> addition operator

35

In [12]:
print(number2 - number1)  # subtraction two numeric values, it is subtraction

11

In [13]:
print(number1 * number2)  # multiplication operator

276

In [14]:
print(number2 / 2)  # division operator, qoutent

11.5

In [15]:
print(number2 % 2)  # modulo, remainder

1

In [16]:
print(number1**2)  # exponent, power
print(55**2)
print(55**3)

144
3025
166375

In [17]:
print(number1/2)

6.0

In [18]:
print(number1//2) # floor division
# flooring value -> the lowest whole number from the decimal value

6

In [ ]:
# Assignment operator 
# = -> assignment operator

In [20]:
value = 50

In [22]:
print(value)

50

In [ ]:
# comparison operator -> to compare two values -> everytime it will return you a boolean value(True, False)
# less than <, greater than >, less than equals <=, greater than equals >=
# == equal to, != not equal to

In [23]:
age1 = 24
age2 = 55

print(age1 < age2)

True

In [24]:
print(age1 > age2)

False

In [ ]:
# Logical operator -> and, or, not
# note: logical works with boolean

In [25]:
print(44 < 55)

True

In [26]:
print(66 > 56)

True

In [27]:
print(44 < 55 and 66 > 56)

True

In [28]:
print(True and True)  # True
print(True and False) # False
print(False and True) # False
print(False and False) # False

True
False
False
False

In [30]:
print(True or True)  # True
print(True or False) # True
print(False or True) # True
print(False or False) # False

True
True
True
False

In [ ]:
# Membership operator -> in, not in -> boolean everytime

In [31]:
name = 'Python'
print('P' in name)

True

In [32]:
print('p' not in name)

True

In [ ]:
# numeric data type -> (int, float, complex)

In [33]:
# Integer data type
number1 = 100 # integer/ whole number
number2 = -9  # -ve int
number3 = 0  # zero int

In [ ]:
# type() -> this helps to verify the datatype

In [34]:
# floating data type (decimal values)
number4 = 12.67886
number5 = -6.5669

In [35]:
# complex data type (real + img)
number6 = 78 + 6j # j/J is used to denote the imaginary part
number7 = 100 + 88J  # real -> 100, img -> 88J

In [36]:
# Type conversion -> converting one data type to another

In [37]:
 # from int to float
num = 100  
print(type(num))
num = float(num)  #  using float() we are converting the int to float
print(num)
print(type(num))

<class 'int'>
100.0
<class 'float'>

In [38]:
# float to int
num = 12.3
print(type(num))
num = int(num)
print(type(num))

<class 'float'>
<class 'int'>

In [39]:
# float to complex
num = 12.001
num = complex(num)  # using complex we are converting to complex from float
print(num)

(12.001+0j)

In [40]:
# String 
my_string = 'hello'  # single quote
my_string2 = "Hello"  # double quote
my_string3 = '''Hello''' # triple single quote
my_string4 = """Hello""" # triple double quote

In [41]:
print(type(my_string))
print(type(my_string2))
print(type(my_string3))
print(type(my_string4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [44]:
# triple quotes are used for multiple lines
var = '''Hello
this 
is 
multiple 
lines'''

In [45]:
print(var)

Hello
this
is
multiple
lines

In [ ]:
# indexing -> taking each char from a string
# where each char is having an index number

In [46]:
data = 'Hello world' # indexing starts with 0

In [47]:
print(data[0])

H

In [49]:
print(data[6])

w

In [50]:
# len() -> to find out length of chars in string or iterable 
print(len(data))

11

In [ ]:
# slicing -> fetching multiple values 
# [start: end+1: step]

In [51]:
print(data[0:7])

Hello w

In [52]:
print(data[7:]) # from 7 till last

orld

In [53]:
print(data[:])  # all chars are returned

Hello world

In [54]:
print(data[::2]) # takes all char skipping the 2nd char

Hlowrd

In [56]:
# reverse a string
data[::-1]

'dlrow olleH'

In [ ]:
# tuple -> denoted by (), indexed, order, immutable
# immutable -> once created cannot be changed, these donot allow item assgn

In [57]:
names = ('abc', 'efg', 'ijk')
print(len(names))
print(type(names))

3
<class 'tuple'>

In [58]:
type(names[0])

str

In [59]:
print(names[0])

abc

In [60]:
names = ('abc', 'efg', 'ijk', 'abc', 'abc')

In [61]:
names.index('efg')

1

In [62]:
names.index('ijk')

2

In [ ]:
# List -> ordered, indexed, mutable
# denoted -> []

In [63]:
names = ['abc', 'efg', 'ijk']
print(type(names))

<class 'list'>

In [64]:
print(names[0])

abc

In [65]:
names[0] = 'Python'  # item assignment is possible hence this is mutable

In [66]:
print(names)

['Python', 'efg', 'ijk']

In [67]:
# methods of list
names.append(100) # add items to the end of list

In [68]:
print(names)

['Python', 'efg', 'ijk', 100]

In [69]:
names.extend([1, 2, 3])

In [70]:
print(names)

['Python', 'efg', 'ijk', 100, 1, 2, 3]

In [71]:
names.insert(3,  'new data')

In [72]:
print(names)

['Python', 'efg', 'ijk', 'new data', 100, 1, 2, 3]

In [73]:
# set -> {}, not ordered, no index, no duplicates are allowed
set1 = {1, 2, 3, 4, 1, 4, 5, 2, 5}

In [74]:
print(len(set1))

5

In [75]:
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# dictionary -> key:value pair, key-> immutable, value -> mutable/immutable

In [77]:
# -> {:}
dict1 = {'name':'abd',
         'age': 12,
         'dept': 'AI'}

In [78]:
print(len(dict1))
print(type(dict1))

3
<class 'dict'>

In [82]:
# values can be fetched using key
dict1['name']

'abd'

In [83]:
dict1['dept'] = 'DS' # updates the data

In [85]:
print(dict1)

{'name': 'abd', 'age': 12, 'dept': 'DS'}

In [ ]:
# methods of dict

In [86]:
dict1.items()

dict_items([('name', 'abd'), ('age', 12), ('dept', 'DS')])

In [87]:
dict1.values()

dict_values(['abd', 12, 'DS'])

In [88]:
dict1.keys()

dict_keys(['name', 'age', 'dept'])

In [89]:
dict1.update({'roll':123})

In [90]:
dict1

{'name': 'abd', 'age': 12, 'dept': 'DS', 'roll': 123}

In [ ]:
if condition (true)
#execute the block
elif condition (true)
#ececute the block
else
#execute this if (if and elif) are false

In [91]:
#wap to check no. is even or odd
num = int(input("Enter a number: "))
if (num % 2) == 0:
  print("num is Even")
else:
  print("num is Odd")

Enter a number:  5

num is Odd

In [92]:
#check no. is +ve or -ve
num1 = int(input("enter a number "))
if num1 < 0:
  print("number is negative")
else:
    print("number is positive")

enter a number  -8

number is negative

In [93]:
#check vote eligibility
num2 = int(input("enter your age "))
if num2 >= 18:
  print("you are eligible for voting")
else:
    print("you are not eligible")

enter your age  67

you are eligible for voting

In [94]:
#find the highest no. in 3 numbers
num1 =int(input("enter first number "))
num2 =int(input("enter second number "))
num3 =int(input("enter third number "))
if num1 > num2 and num1 > num3:
  print ("number1 is greator")
elif num2 > num3 and num2 > num1:
    print("number2 is greator")
else:
    print("number3 is greator")

enter first number  9
enter second number  8
enter third number  8

number1 is greator

In [95]:
#check if a valuue is between 1 to 100
num = int(input("enter the number "))
if num > 1 and num < 100 :
  print("number is between 1 and 100")
else:
    print("number is not in between 1 and 100 ")

enter the number  56

number is between 1 and 100

In [97]:
#check if a letter is vowel or constant
letter = str(input("enter a letter "))
if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
  print("letter is vowel")
else:
    print("letter is constant")

enter a letter  u

letter is vowel

In [98]:
#print all days of a week
print("1.Monday")
print("2.Tuesday")
print("3.Wednesday")
print("4.Thursday")
print("5.Friday")
print("6.Saturday")
print("7.Sunday")

1.Monday
2.Tuesday
3.Wednesday
4.Thursday
5.Friday
6.Saturday
7.Sunday

In [99]:
#mon(start of work) #tues-thursday regular working day
day = str(input("enter the day:- "))
if day == "monday":
  print("start of work")
elif day in 'tuesday,wednesday,thrusday':
    print("regular working day")
elif day == "friday":
    print("start of weekend")
else:
      print("weekend")

enter the day:-  thrusday

regular working day

In [101]:
#check if a letter is vowel or constant
letter = str(input("enter a letter "))
if letter in 'a,e,i,o,u':
  print(letter,"is vowel")
else:
    print(letter," is constant")

enter a letter  y

y  is constant

In [ ]:
# for loop -> repeation of some block of code
# syntax
# for iter in iterable:
#     body of for
#     body of for
#     body of for

In [ ]:
# iterable -> countable elements(string,list,tuple) with index or without index(dict)

In [102]:
for each in 'hello': # each = o
    print(each)
# loop terminates after the last item.

h
e
l
l
o

In [103]:
l = [1,3,4,2,54,5,5,6,78,8,90]#list

In [104]:
for i in l:
    print(i,end=' ')

1 3 4 2 54 5 5 6 78 8 90

In [ ]:
#we are grabbing every element and adding it with 1 and append

In [105]:
l=[1,2,3,4]
for i in l:
    print(i+1)

2
3
4
5

In [106]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)
print(l1)

2
3
4
5
[2, 3, 4, 5]

In [108]:
l=[23,43,61,45] #output=(46,86,122,90) we want
l1=[]
for i in l:
    l1.append(i+i)
print(l1)

[46, 86, 122, 90]

In [110]:
l1=[1,2,3,4,5,6] #check the no. is even or odd

In [111]:
le=[]
lo=[]
for i in l1:
    if i%2 == 0:
        le.append(i)
    else:
        lo.append(i)
print(le)
print(lo)

[2, 4, 6]
[1, 3, 5]

In [112]:
for k in range (1,18,2):
  print(k)

1
3
5
7
9
11
13
15
17

In [114]:
#check whether the number is divisible by 7 or noot
num = int(input("enter the number"))
if num % 7 == 0:
    print (num,"is divisible by 7")
else:
    print(num,"is not divisile by 7")

enter the number 77

77 is divisible by 7

In [115]:
num1 = int(input("enter a number "))
if num1 < 0:
  print(num1, "is negative")
else:
    print(num1 ,"is positive")

enter a number  5

5 is positive

In [116]:
l=[1,2,3,4,5]
s= 'hello'
d={'a':12,'b':8540}

In [117]:
for i in l:
 print(i,end=' ')

1 2 3 4 5

In [118]:
for i in s:
 print(i,end=' ')

h e l l o

In [119]:
for i in l:
 print(i+1,end=' ')

2 3 4 5 6

In [120]:
l2=[]
for i in l:
 print(i+1,end=' ')
 l2.append(i+1)
print(l2)

2 3 4 5 6 [2, 3, 4, 5, 6]

In [121]:
l2=[]
for i in l:
 x=i+1
 l2.append(x)
print(l2)

[2, 3, 4, 5, 6]

In [122]:
l1=[1,2,3,4,5,6] #check even or odd
for i in l1:
    if i%2==0:
        print(i,'is even number')
    else:
        print(i,'is odd number')

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number

In [123]:
le=[]
lo=[]
for i in l1:
    if i%2==0:
        le.append(i)
    else:
        lo.append(i)
print(le,lo)

[2, 4, 6] [1, 3, 5]

In [124]:
l=['hello','python','lab'] # convert in upper case letters
for i in l:
 print(i.upper())

HELLO
PYTHON
LAB

In [125]:
l=['hello','python','lab'] # convert in upper case letters
l1=[]
for i in l:
 print(type(i),l1.append(i.upper()))
print(l1)

<class 'str'> None
<class 'str'> None
<class 'str'> None
['HELLO', 'PYTHON', 'LAB']

In [126]:
l=['hello','python','lab'] # convert in upper case letters
l1=[]
for i in l:
 print(type(i),i)
 l1.append(i.upper())
print(l1)

<class 'str'> hello
<class 'str'> python
<class 'str'> lab
['HELLO', 'PYTHON', 'LAB']

In [127]:
l=[10,25,'hello',50.7,'bye',90.8] # segrigate
ln=[]
ls=[]
for i in l:
    if type(i)== int or type(i)==float:
        ln.append(i)
    else:
        ls.append(i)
print(ln)  
print(ls)

[10, 25, 50.7, 90.8]
['hello', 'bye']

In [128]:
# Print a list of squares of numbers from 1 to 5 
l1=[]
l=[1,2,3,4,5]
for i in l:
    print(i**2)
    l1.append(i**2)
print(l1)

1
4
9
16
25
[1, 4, 9, 16, 25]

In [129]:
#print the each number power to itself upto 5
l1=[]
l=[1,2,3,4,5]
for i in l:
    print(i**i)
    l1.append(i**i)
print(l1)

1
4
27
256
3125
[1, 4, 27, 256, 3125]

In [130]:
# Find the common elements in two lists using a for loop
l3=[]
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[2,4,6,8]
for i in l1:
    if i in l2:
      l3.append(i)
print(l3)

[2, 4, 6, 8]

In [131]:
#count the number of letters in canada,india and australia
l=['canada','india','australia']
for i in l:
    print(i,'has',len(i),'letters')

canada has 6 letters
india has 5 letters
australia has 9 letters

In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
list(range(0, 5,2))

[0, 2, 4]

In [1]:
sum=0
a=int(input("enter a number upto which you want addition"))
for i in range(a):
     sum+= i
print(sum)

enter a number upto which you want addition 8

28

In [2]:
l=['hello',10,"pp",85.0]
for i in l:     #else with for
    print(i,type(i))
else:
    print('if a loop complete execution successfully,else wil run')

hello <class 'str'>
10 <class 'int'>
pp <class 'str'>
85.0 <class 'float'>
if a loop complete execution successfully,else wil run

In [3]:
for i in l:     #else with for
    if i=="pp":
        print(type(i))
else:
    print('if a loop complete execution successfully,else wil run')

<class 'str'>
if a loop complete execution successfully,else wil run

In [4]:
for i in l:     #else with for
    if i=="pp":
        break
else:
    print('if a loop complete execution successfully,else wil run')

In [5]:
for i in l:
    if type(i)==int:
        print(i)
        break
    else:
         print('not found')
else:
    print('output will happen')

not found
10

In [6]:
for i in l:
    if type(i)==int:
        print(i)
        continue
    else:
         print('not found')
else:
    print('output will happen')

not found
10
not found
not found
output will happen

In [7]:
for i in l:
    if i=='pp':
        break
    print(i)
else:
    print('okay')

hello
10

In [8]:
l

['hello', 10, 'pp', 85.0]

In [9]:
for i in l: #we don't want to print pp
    if i=='pp':
        continue
    print(i)
else:
    print('okay')

hello
10
85.0
okay

In [10]:
for i in l:
    if type(i)==int:
        print(i)
        continue # if 10 comes it will execute the further list with printing 10
    else:
         print('not found')
else:
    print('output will happen')

not found
10
not found
not found
output will happen

In [12]:
for i in l:
    if type(i)==int:
        continue # if 10 comes it will execute the further list without printing 10
        print(i)
    else:
         print('not found')
else:
    print('output will happen')

not found
not found
not found
output will happen

In [13]:
l

['hello', 10, 'pp', 85.0]

In [14]:
len(l)

4

In [15]:
range(len(l))

range(0, 4)

In [16]:
list(range(len(l)))

[0, 1, 2, 3]

In [17]:
for i in range(len(l)):
    print(l[i])

hello
10
pp
85.0

In [18]:
#reverse of list
list(range(len(l)-1,-1,-1))

[3, 2, 1, 0]

In [21]:
for i  in range(len(l)-1,-1,-1):
    print(l[i])

85.0
pp
10
hello

In [ ]:
#functions :- define once, use in anywhere in your prog as required

In [22]:
len('hello')

5

In [23]:
def fn_name():
    '''
    this function is used to display greeting msg like welcome
    '''
    print('welcome')

In [24]:
fn_name()

welcome

In [25]:
type(print())

NoneType

In [27]:
def fn_name():
    '''
    this function is used to display greeting msg like welcome
    '''
    return('welcome')